.now-in-cinema {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.now-in-cinema__header {
    padding-left: 50px;
    margin: 20px 0;
    color: white;
}

.header {
    color: #FFF;
    font-family: var(--inter-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.now-in-cinema__films-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    gap: 25px
}