.popular-star {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popular-stars__header {
    padding-left: 50px;
    margin: 20px 0;
    color: white;
}

.popular-stars__info {
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    gap: 25px
}